.product__info {
  padding-top: 20px;
}

.product__info--left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product__info--img {
  width: 80%;
  height: 80%;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
}

.product__info--img img {
  width: 100%;
  height: 100%;
}

.product__info--btn {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.product__info--btn button {
  font-size: 16px;
  padding: 10px;
  width: 40%;
  font-weight: 700;
}

.product__info--btn-add i {
  margin-right: 5px;
}

.product__info--btn-add {
  background-color: white;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  cursor: pointer;
}

.product__info--btn-buy {
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.product__info--right {
  width: 80%;
}

.product__info--title {
  font-size: 25px;
  font-weight: 500;
}

.product__info--content {
  font-size: 14px;
  margin-top: 30px;
}

.product__info--content-left {
}

.product__info--content-left p {
  padding-bottom: 10px;
}

.product__info--content-right {
  padding-bottom: 10px;
}

.product__info--start i {
  color: #ccc;
}

.product__info--start span {
  color: coral;
}

.product__info--price {
  margin-top: 50px;
  display: flex;
  align-items: center;
}

.product__info--price span {
  margin-right: 20px;
}

.product__info--price-buy {
  font-size: 35px;
  font-weight: 700;
  color: var(--primary-color);
}

.product__info--price-cost {
  text-decoration: line-through;
}

.product__info--price-percent {
  padding: 10px;
  background-color: var(--primary-color);
  color: white;
  border-radius: 10px;
}

.product__info--policy {
  margin-top: 20px;
  width: 130%;
}

.product__info--policy-left p:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.product__info--quality {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.product__info--quality span {
  font-size: 18px;
  font-weight: 700;
}

.product__info--quality-block {
  display: flex;
  height: 40px;
  border: 1px solid #ccc;
  width: 50%;
  overflow: hidden;
  border-radius: 10px;
}

.product__info--quality-block div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33.33333%;
  font-size: 18px;
}

.product__info--quality-reduce {
  border-right: 1px solid #ccc;
  -moz-user-select: none !important;
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -khtml-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.product__info--quality-increase {
  border-left: 1px solid #ccc;
}

.product__info--quality-reduce,
.product__info--quality-increase {
  cursor: pointer;
}
