@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --primary-color: #ff3333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.main__container {
  margin-top: 20px;
  background-color: white;
  border-radius: 10px;
  padding-bottom: 20px;
}

.main__title {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  font-weight: 600;
}

.hidden {
  display: none;
}

.display__flex {
  display: flex;
}

.link {
  text-decoration: none;
  color: inherit;
}
