.customer__title {
  font-size: 30px;
  padding: 10px;
  color: var(--primary-color);
}

.customer__nav--content ul {
  list-style: none;
}

.customer__nav--content ul li {
  cursor: pointer;
  padding: 20px 0 20px 10px;
  transition: 0.3s linear;
}

.customer__nav--content ul li:hover {
  background-color: var(--primary-color);
  color: white;
  transform: translateX(20px) translateY(-10px);
}

.customer__nav--content ul li.active {
  background-color: var(--primary-color);
  color: white;
  transform: translateX(-20px) translateY(-10px);
}
